*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'azo';
  }

  @font-face {
    font-family: 'acumin';
    src: url(Fonts/Acumin\ Pro\ Condensed\ Black\ \(1\).ttf);
  }

  @font-face {
    font-family: 'acumin-italic';
    src: url(Fonts/Acumin\ Pro\ Condensed\ Black\ Italic.ttf);
  }

  @font-face {
    font-family: 'azo';
    src: url(Fonts/AzoSansTest-Regular-BF663af5f641d11.otf);
  }

  @font-face {
    font-family: 'azo-light';
    src: url(Fonts/AzoSansTest-Light-BF663af5f76f7ff.otf);
  }

  @font-face {
    font-family: 'azo-medium';
    src: url(Fonts/AzoSansTest-Medium-BF663af5f75f759.otf);
  }

  @font-face {
    font-family: 'azo-bold';
    src: url(Fonts/AzoSansTest-Bold-BF663af5f7827f4.otf);
  }



  body {
    position: relative;
    background-color: var(--primary-grey);
    cursor: url('#') 5 0, auto;
  }

  main {
    padding-right: clamp(1.8rem, 8vw, 4rem);
    padding-left: clamp(1.8rem, 8vw, 4rem);
    /* max-width: 1140px; */
    margin: 0 auto;

  }

:root {
    --primary-grey: #121314;
    --secondary-grey: #19191B;
    --alt-grey: #262626;
    --hover-grey-2: rgb(77, 77, 77);
    --primary-blue: #5FBCFF;
    --alt-blue: #5FBCFF;
    --white: #ffffff;
    --primary-light-grey: #eeeeee;
    --secondary-light-grey: #B5B5B5;
    --grey-gradient-1: linear-gradient (90deg, #262626, #121314);
    --blue-gradient-1: linear-gradient (90deg, #5FBCFF, #147BC6);
    --primary-blue-faded: #0268BB40;        
}

img {
  /* border-radius: clamp(2px, 5vw, 10px); */
}

.round-img {
    border-radius: clamp(2px, 5vw, 10px);
}

ul {
  list-style: none;
}

/* Scroll Animation */

.hidden {
  opacity: 0;
  transition: all 1s;
  /* filter: blur(1px); */
  transform: translateY(50px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0px);

}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

/* @keyframes appear {
  from{
    opacity: 0;
    scale: .5;
  }
to{
  opacity: 1;
  scale: 1;
}
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover;
} */


h1, h2, h3, h4 {
  font-family: 'acumin';
  color: var(--primary-light-grey);
  text-transform: uppercase;
      text-align: center;

}

h5, h6, .h7, .h10 {
font-family: 'azo-bold';
color: var(--primary-light-grey);
}

h1 {
font-size: clamp(48px, 8vw, 82px);
  background: linear-gradient(180deg, #5FBCFF 12.5%, #006AB6 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: visible;
  line-height: clamp(2.8125rem, 8vw, 4.4rem);/* 73.171% */
}

.h1-gradient {
font-family: 'acumin-italic';
background: linear-gradient(to top, var(--secondary-light-grey), var(--primary-light-grey));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
overflow: hidden;
font-style: italic;
padding: .2rem;
}



h2 {
  font-size: clamp(2rem, 5vw, 2.8rem);
  color: var(--Primary-Light-Grey, #EEE);
  text-align: center;
}

h3 {
  line-height: clamp(1.5rem, 5vw, 2.4rem);
  font-size: clamp(1.25rem, 5vw, 2rem);
  text-align: left;
}

h4 {
  line-height: 1.3rem;
  font-size: clamp(20px, 5vw, 24px);
}

h5 {
  line-height: clamp(23px, 5vw, 27px);
  font-size: clamp(14px, 5vw, 20px);
  letter-spacing: .2rem;
  color: var(--primary-light-grey);
}

h6 {
  line-height: 2rem;
  font-size: clamp(24px, 5vw, 28px);
  line-height: clamp(34px, 5vw, 38px);
}

.h7 {
  color: var(--secondary-light-grey);
  font-family: 'azo';
  letter-spacing: .2rem;

}

.h8 {
  font-family: 'azo-light';
  color: var(--secondary-light-grey);
  letter-spacing: 3pt;
  font-size: clamp(12px, 5vw, 14px);
  text-align: left;
}

.h9 {
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: clamp(2.8rem, 5vw, 3.8rem);
  text-align: left;
}




.h10 {
  font-family: 'azo-bold';
  font-size: 1rem;
  color: var(--secondary-light-grey);
  letter-spacing: 4px !important;
}





/* paragraph styles */
p {
font-family: 'azo-light';
color: var(--secondary-light-grey);
/* font-size: clamp(0.875rem, 5vw, 1.1rem); */
line-height: 2.125rem; /* 188.889% */
text-align: center;
}

.hero-content .p2 {
font-size: clamp(16px, 2vw, 20px);
line-height: clamp(2rem, 5vw, 2.6rem);

}


.p2 {
font-size: clamp(14px, 2vw, 18px);
text-align: center;
line-height: clamp(1.8rem, 8vw, 2.1rem);
}

.p3, .nav-links a {
font-family: 'azo';
/* font-size: clamp(14px, 2vw, 18px); */
line-height: 1.2rem;
letter-spacing: 0.1125rem;
text-align: center;
}

.p3 {
font-size: clamp(14px, 2vw, 18px);
}

.p4 {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 3pt;
  font-family: 'azo-light';
}



/* Navigation Styling */

nav {
  width: 100%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, var(--primary-grey), rgba(0, 0, 0, 0));

}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}



.nav-logo img {
  height: clamp(2rem, 5vw, 2.8rem);
}

a {
  text-decoration: none;
  color: var(--secondary-light-grey);
  transition: .5s ease;
}

.nav-links ul {
  display: flex;
  gap: 2rem;
}




.nav-links a:hover {
  color: var(--primary-light-grey);
}



.nav-links a, .mobile-nav-links a {
  text-decoration: none;
  color: var(--secondary-light-grey);
  letter-spacing: 2px;
  transition: 400ms ease;

}

.nav-socials img {
  height: 23px;
}


.nav-socials {
  display: flex;
  gap: 15px;
}


.mobile-menu {
  display: none; /* Start hidden */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 24rem;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--primary-grey);
  padding: 110px 0;
  gap: 4rem;
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Hidden by default */
  
}

.mobile-menu.show {
  display: flex; /* Ensure it's visible */
  transform: translateX(0); /* Slide in */
}


.mobile-nav-links ul {
  margin: 0;
}

.mobile-nav-links {
  padding: 0;
}

.mobile-nav-links li {
  font-size: 1.5rem;
}

.mobile-social-icons img {
  height: 25px;
}

.mobile-social-icons {
  display: flex;
  gap: 15px;

}

.mobile-menu li {
  list-style: none;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu a {
  text-decoration: none;
}

.show {
  right: 0;
}

/* Hamburger Menu */

.menu {
  position: relative;
  width: 35px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Style for the three hamburger bars */
.bar {
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--primary-light-grey);
  transition: all 0.5s ease;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 50%;
  transform: translateY(-50%);
}

.bar3 {
  bottom: 0;
}

/* When the menu is active, animate the bars */
    /* .menu.active .bar1 {
      transform: rotate(45deg);
      top: 45%;
    }

    .menu.active .bar2 {
      opacity: 0;
    }

    .menu.active .bar3 {
      transform: rotate(-45deg);
      bottom: 45%;
    } */

.nav-links a:hover, .mobile-nav-links a:hover {
  color: var(--primary-light-grey);
}

.nav-links li:hover {
  scale: 1.02;

}

/* End of Nav */



/* Button Styling */


button, .btn-2 {
  font-family: 'azo';
  letter-spacing: .06rem;
}


  .btn-primary {
    color: var(--primary-light-grey);
    padding: 1.2rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4.0625rem;
    border: 1px solid var(--Secondary-light-Grey, #B5B5B5);
    background: var(--Secondary-Grey, #19191B);
    font-size: clamp(14px, 5vw, 18px);
    font-family: 'azo-light';
    transition: .5s ease;
    cursor: pointer;
    line-height: 2rem;
  }


  .btn-primary:hover {
    background-color: var(--alt-grey);
  }

  .btn-primary a{
    font-size: clamp(14px, 5vw, 18px);
    color: var(--primary-light-grey);
  }


    /*Button Animated */


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn-2 {
  padding: 20px 40px;
  /* background: linear-gradient(to top right, #0e0e0e, #292929); */
  background: var(--secondary-grey);
  position: relative;
  color: white;
  border: 0;
  border-radius: 100rem;
  transition: .3s ease;
  font-size: 1rem;
}

.btn-2::before, .btn-2::after {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--secondary-light-grey),
    #f8f8f8,
    var(--secondary-light-grey)
  );
  border-radius: inherit;
  animation: rotation 1s linear infinite;
  transition: inset .4s ease;
}

.btn-2::after {
  /* filter: blur(1rem); */
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.btn-2:hover {
  /* box-shadow: 5px 0 30px #5FBCFF20, -5px 0 30px #2469ff10; */
  background-size: left;
  cursor: pointer;
  background: var(--alt-grey);

}


.btn-2:hover::before {
  inset: -2px;
}
  

  .hero, .hero-buttons, .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--primary-grey), var(--alt-grey));
    padding-right: clamp(1.8rem, 8vw, 4rem);
    padding-left: clamp(1.8rem, 8vw, 4rem);
    position: relative;
    overflow: hidden;
  }

  .hero img {
    position: absolute;
    max-height: 100%;
    width: auto;
    z-index: 2;
    opacity: 6%;
    overflow: hidden;
  }



  .hero-content {
    gap: .3rem;
    flex-direction: column;
    margin-top: clamp(6rem, 5vw, 100px);
    padding-top: clamp(3rem, 8vw, 18rem);
    padding-bottom: clamp(3rem, 8vw, 18rem);
    z-index: 2;


  }


  .hero-buttons {
    gap: 1.2rem;
    padding-top: clamp(2rem, 5vw, 3rem);
    flex-wrap: wrap;
  }


  .hero-content p {
    max-width: 660px;
  }

  .hero .p3 {
    color: var(--primary-light-grey);
    font-size: clamp(14px, 5vw, 20px);
    line-height: 1.8rem;
  }

  .hero h1 {
    margin-bottom: clamp(16px, 2vw, 26px);
    margin-top: clamp(4px, 2vw, 14px);
  }



  /* End of hero */



/*Hero 2 Styling */

.hero-2 {
  background: linear-gradient(to top, var(--primary-grey), var(--alt-grey));
  /* min-height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: clamp(1.8rem, 8vw, 4rem);
  padding-left: clamp(1.8rem, 8vw, 4rem);

}

.hero-2-container {
  max-width: 1100px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  margin: 100px 0;
  gap: clamp(4rem, 5vw, 6rem);
  padding-top: clamp(2rem, 5vw, 8rem);
}

.half {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-2-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s ease;


}

.hero-2-img {
  overflow: hidden;
  width: 100%;
  position: relative;
}


.resume-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .8s ease; 
}

.resume-content {
  margin: auto 0;
}

.sub-title {
  display: flex;
  align-items: center;
  gap: clamp(8px, 5vw, 10px);
}

.sub-title img {
  margin-bottom: 1.3%;
}

.hero-2 p {
  text-align: left;
  padding-top: clamp(1rem, 5vw, 1.7rem);
  padding-bottom: clamp(1.6rem, 5vw, 2.4rem);
}


.hero-2-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: -190%; /* Start off-screen */
  width: 80%; /* Extra width for the diagonal effect */
  height: 100%;
  opacity: 60%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  transform: skewX(-25deg); /* Adds the slanted look */
  transition: transform 0.5s ease-in-out;
  pointer-events: none; /* Prevents interference with mouse actions */
  z-index: 4;
  filter: blur(60px); /* Blurs the edges */
}

.hero-2-img:hover::before {
  left: 150%; /* Move across the image */
  transition: left 0.8s ease-in-out; /* Smooth animation */
}

.hero-2-img:hover img {
  transform: scale(1.1);
}






  /* Section Padding */

  .section-padding {
    padding-top: clamp(2rem, 5vw, 3.1rem);
    padding-bottom: clamp(2rem, 5vw, 3.1rem);
  }


  /* Title Section */



  .title-section p {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'azo';
    color: var(--primary-blue);
    margin-top: clamp(25px, 5vw, 50px);
  }

  .title-section h2 {
    margin-top: -10px;
  }


  #title-section-hero {
    padding-top: 0;
  }

  /* End of Title Section */




  /* Featured Project Card */

  .featured-projects {
    display: flex;
    justify-content: center;
    padding-top: clamp(0px, 5vw, 50px);
    padding-bottom: clamp(0px, 5vw, 50px);
    flex-direction: column;
    align-items: center;
    gap: clamp(25px, 5vw, 60px);
    margin: 0 auto;
  }

  .project-card-1 {
    margin: 0 auto;

  }

  .link-wrapper {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .other-projects {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: clamp(25px, 5vw, 40px);
  }

  .project-card-1, .pc1-main-content, .pc1-content, .pc1-button a {
    display: flex;
    text-align: left;
  }

  .project-card-2 {
    aspect-ratio: 5 / 6;
    position: relative;
  }

  .project-card-2 > img {
    box-shadow: none;
    margin-top: 10%;
    position: absolute;
  }

  .project-card-1, .project-card-2 {
    max-width: 1100px;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, var(--secondary-grey), var(--alt-grey));
    padding: clamp(1.5625rem, 5vw, 3.125rem);
    padding-bottom: 0;
    border-radius: clamp(1.2px, 5vw, 12px);
    border: 1px solid var(--Alt-Grey, #262626);
    overflow: hidden;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 3.8rem);
    transition: .5s ease;
    position: relative;
    cursor: pointer;
  }


  .project-card-1::before, .project-card-2::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:  0.5s ease; 
    z-index: 0;
  }



  #Ignite::before {
    background: linear-gradient(to top, var(--secondary-grey), #5f1414);
  }

  #Ignite-mockup {
    left: 7%;
    width: clamp(95%, 5vw, 102%);
  }

  #alltech-flyer-mockup {
    right: -3%;
    width: 84%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
  }

  #alltech-flyers::before {
    background: linear-gradient(to top, var(--secondary-grey), #1C3D20);
  }

  #NCBA-postcard {
    border-radius: 0;
    rotate: 1deg;
    bottom: 8%;
    left: 16%;
    height: 60%;
    width: auto;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .2);
  }

  #NCBA::before {
    background: linear-gradient(to top, var(--secondary-grey), #c454289f);
  }

  #finlandia-mockup {
    width: 70%;
    left: 20%;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .2);
    top: 20%;
  }

  #Finlandia::before {
    background: linear-gradient(to top, var(--secondary-grey), #1F3389);
  }

  #cookbook-mockup {
    width: 80%;
    rotate: -1deg;
    left: 14%;
  }

  #cookbook::before {
    background: linear-gradient(to top, var(--secondary-grey), #442d25);
  }

  #social-mockup {
    margin-top: 10%;
    left: 20%;
  }

  #uk-social::before {
    background: linear-gradient(to top, var(--secondary-grey), #094ADA);
  }



  #LLP::before {
    background: linear-gradient(to top, var(--secondary-grey), #103461);
  }

  #pc::before {
    background: linear-gradient(to top, var(--secondary-grey), #830919);
  }

  #arrow::before {
    background: linear-gradient(to top, var(--secondary-grey), #4444d9b0);
  }

  .project-card-1:hover::before, .project-card-2:hover::before {
    opacity: .8;
  }



.pc1-content {
  z-index: 5;
}


  .pc1-main-content {
    justify-content: space-between;
    width: 100%;
  }

  .pc1-content {
    flex-direction: column;
    gap: clamp(2px, 2vw, 14px);
    margin-right: 8%;
  }

  .pc1-content .p3 {
    text-align: left;
  }

  .project-card-2 .pc1-button {
    margin-top: 2%;
  }



  .pc1-button a {
    gap: .6rem;
    align-items: center;
  }

  .project-card-1:hover img {
    rotate: 0deg;
  }

  .project-card-2:hover img {
    rotate: 0deg;
  }

  .pc1-button img {
    rotate: -45deg;
    height: 1rem;
    transition: .5s ease;

  }

  .pc1-img {
    border-top-left-radius: 1.5%; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 1.5%; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 0; /* Ensure bottom corners remain unrounded */
    border-bottom-right-radius: 0;     width: 90%;
    margin-top: 2%;
    height: auto;
    margin: 0 auto;
    transition: .5s ease;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .2) ;
    background: transparent;
  }

  .project-card-1:hover .pc1-img {
    transform: scale(1.02);
  }
  
  .project-card-2:hover .pc1-img {
    transform: scale(1.02);
  }



  /* service cards */ 

  .service-card-container, .service-card {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .service-card-container {
    gap: clamp(25px, 5vw, 40px);
    margin: 0 auto;
  }

  .service-card {
    background-color: var(--secondary-grey);
    height: 100%;
    max-width: 340px;
    stroke: 1px var(--alt-grey);
    padding-top: clamp(40px, 5vw, 60px);
    padding-left: clamp(25px, 5vw, 30px);
    padding-right: clamp(25px, 5vw, 30px);
    padding-bottom: clamp(25px, 5vw, 30px);
    flex-direction: column;
    border-radius: 10px;
    transition: ease .5s;
  }

  .service-card h4 {
    margin-top: clamp(30px, 5vw, 40px);
    margin-bottom: 16px;
  }

  .service-card:hover {
    transform: scale(1.02);

  }

  .sc-video {
    padding-top: clamp(40px, 5vw, 50px);
  }

  #video1, #video2, #video3 {
    height: 6.4rem;
    object-fit: contain;
   }


  
/* Software Skills */



 .skill-icons img {
  height: clamp(1.4rem, 5vw, 2rem);
 }

 .skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(25px, 5vw, 40px);
  justify-content: center;
 }


 .icon-box {
  height: clamp(5rem, 5vw, 5.5rem);
  width: clamp(5rem, 5vw, 5.5rem);
  /* background: linear-gradient(to bottom, var(--primary-grey), var(--alt-grey)); */
  background-color: var(--secondary-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  border: 1px solid var(--alt-grey);
  transition: 200ms ease;
  position: relative;
 }


 #ae-icon-box {
  z-index: 3;
 }

 .icon-box:hover {
  scale: 1.04;
  border: 1px solid var(--hover-grey-2);
  /* background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.034), var(--secondary-grey)); */
  background-color: var(--primary-grey);
  background-size: cover;
 }

 .icon-desc {
  color: var(--secondary-light-grey);
  background-color: var(--secondary-grey);
  padding: .7rem .9rem;
  position: absolute;
  border: 1px solid var(--hover-grey-2);
  border-radius: .4rem;
  top: 70px;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0;
  transition: 100ms ease;
  line-height: 1rem;
  text-align: center;
}

 .icon-box:hover .icon-desc {
  opacity: 1;
 }



/* Project Page Styling */

.project-hero-container {
  background: linear-gradient(to top, var(--primary-grey), var(--alt-grey));
  margin-top: 0;
}

.project-hero {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 5vw, 100px);
  /* margin-top: clamp(50px, 5vw, 110px); */
  padding-top: clamp(160px, 8vw, 310px);
  padding-right: clamp(1.8rem, 8vw, 4rem);
  padding-left: clamp(1.8rem, 8vw, 4rem);
  padding-bottom: clamp(25px, 5vw, 50px);
}

.project-hero > * {
  width: 100%;
  text-align: center;
}

.project-hero .h9 {
  text-align: center;
  background: linear-gradient(to top, #828282, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: visible;
  margin-top: 1%;
}

.project-section {
  max-width: 740px;
  margin: 0 auto;
}

.main-section {
  padding-top: clamp(25px, 5vw, 50px);
  padding-bottom: clamp(25px, 5vw, 50px);
}

.section-subtitle {
  display: flex;
  align-items: center;
  gap: 1%;
  margin-left: -.8%;
}

.section-subtitle img {
  margin-bottom: .2%;
}

.main-section p {
  text-align: left;
}

.main-section h6 {
  margin-bottom: clamp(20px, 5vw, 28px);
  margin-top: clamp(8px, 5vw, 12px);
  line-height: clamp(2.4rem, 5vw, 2.8rem) ;

}


/*Project Info */

.project-info-text {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(18px, 5vw, 30px);
  padding-bottom: clamp(25px, 5vw, 30px);
}

.thin-line {

  border: none;
  border-top: 1px solid var(--alt-grey);
}

.project-info * {
  text-align: left;
  max-width: 740px;
}

.project-info-text, .thin-line {
  margin: 0 auto;
}

.project-info {
  padding-top: 25px;
  padding-bottom: 25px;
}

.info-bold {
  font-family: 'azo-bold';
  padding-top: 8px;
  color: var(--primary-light-grey);
}

/* Sub Section */

.sub-section {
  padding-top: 25px;
  padding-bottom: clamp(25px, 5vw, 50px);
}

.sub-section h6 {
  font-size: clamp(20px, 5vw, 22px);
  line-height: clamp(32px, 5vw, 34px);
  padding-bottom: 1rem;
}

.sub-section p {
  text-align: left;
}


/* Number Section */

.number-section {
  display: flex;
  position: relative;
}

.number-section img {
  padding-right: 25px;
}

.number-section-text {
  position: relative;
}

.project-image {
  border-radius: clamp(2px, 5vw, 10px);
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: clamp(30px, 5vw, 40px);
}

.project-image, .img-columns {
  padding-top:     ;
  padding-bottom: clamp(25px, 5vw, 50px);
}

.img-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  gap: clamp(20px, 5vw, 30px);
  justify-content: center;
  overflow: hidden;
}

.img-columns img {
  object-fit: cover;
  height: 100%;
  width: 100%;

}

.project-image img{
  max-width: 1100px;
  width: 100%;
  height: 100%;
  border-radius: clamp(2px, 5vw, 10px);
}

#prototype-btn {
  margin: 0 auto;
  display: flex;
  margin-bottom: clamp(25px, 5vw, 50px);
}

.llp-bg {
  max-width: 1100px;
  margin: 0 auto;
  background: linear-gradient(to top, #11305D, #2D5BAE);
  padding-top: clamp(30px, 5vw, 80px);
  padding-bottom: clamp(30px, 5vw, 80px);
  padding-right: clamp(30px, 5vw, 90px);
  padding-left: clamp(30px, 5vw, 90px);
  display: flex;
  flex-wrap: wrap;
  gap:clamp(25px, 5vw, 30px);
  justify-content: center;
  margin-top:  clamp(25px, 5vw, 50px);
  margin-bottom:  clamp(25px, 5vw, 50px);
}

.solution-card {
  flex: 1 1 1;
  width: clamp(284px, 5vw, 300px);
  object-fit: cover;

}

@media (max-width: 600px) {
  .solution-card {
    width: 100%;
    height: auto;
  }
}



#pad50, #llp-brand, .pad50 {
  padding-top: clamp(25px, 5vw, 50px) !important;
}

#pad25 {
  padding-top: 25px;
}

#pad0 {
  padding-top: 0px;
}

#margin0 {
  margin-bottom: 0;
}



#research-img img, #final-designs img {
  clip-path: inset(0 0 2px 0);
}


.final-pc-buttons {
  display: flex;
  justify-content: center;
  gap: clamp(12px, 5vw, 24px);
  flex-wrap: wrap;
  margin-bottom: clamp(25px, 5vw, 50px);
}


 /*footer*/

 #footer-container {
  max-width: 100%;
 }


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: clamp(4rem, 5vw, 8rem);
  padding-bottom: clamp(4rem, 5vw, 8rem);
  padding-left: 30px;
  padding-right: 30px;
  margin-top: clamp(100px, 5vw, 200px);
  background-color: var(--secondary-grey);
  /* margin-top: clamp(4rem, 5vw, 8rem); */
  max-width: 100%;
  overflow: hidden;
}
     
.footer-headshot {
  position: relative;
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 1000rem;
  overflow: hidden;
  max-width: 100%;
}

#footer-headshot {
  position: absolute;
  height: 4rem;
  width: 4rem;
  left: -18px;
  top: -3px;
}

.footer-logo {
  display: flex;
  gap: 13px;
}

footer a {
  font-size: 10px;
}

.footer-links ul {
  display: flex;
  gap: 18px;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  letter-spacing: .1rem;
}

.footer-socials, .icon-border{
  display: flex;
  gap: 13px;
}

.footer-socials img {
  width: 1.1rem;
}

.icon-border {
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--alt-grey);
  border-radius: 1000rem;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}

.footer-type p {
  font-size: 10px;
  line-height: 1.6rem;
}

.icon-border:hover {
  transform: scale(1.1);

}




  
  


  @media (max-width: 1300px) {
    .nav-links, nav button {
      display: none;
    }
    .menu {
      display: flex;
    }

  }

  @media (max-width: 1000px) {
    .project-card-2 {
      aspect-ratio: 5 / 6.5;
    }

  }


  @media (max-width: 800px) {
    .other-projects {
      grid-template-columns: 1fr;
    }
    .project-card-2 {
      aspect-ratio: 5 / 6;

    }
    .pc1-button .p3 {
      display: none;
    }

    .half {
      flex: 0 0 100%;
    }

    .hero-2-container {
      flex-wrap: wrap;
      /* padding-top: clamp(2rem, 5vw, 8rem); */
    }

    .img-columns {
      grid-template-columns: 1fr;    
    }







  }


  @media (max-width: 690px) {
    .service-card {
      max-width: none;
    }
  }


  @media (max-width: 600px) {

    .project-info-text {
      flex-direction: column;
      gap: 30px;
    }

    .number-section img {
      position: absolute;
      height: 45px;
      top: 8%;
      
      
    }

    .number-section h6 {
      padding-left: 50px;
    }
  }

  #three {
    margin-top: 2%;
  }

  @media (max-width: 494px) {
    .hero .p3 {
      max-width: 290px;
    }
  }


  @media (max-width: 470px) {
    .hero-content h1 {
      max-width: 300px;
    }



    .hero .p2 {
      /* text-align: left; */
      max-width: 320px;
    }

    .hero-buttons {
    }

  }

  @media (max-width: 370px) {
    .hero .p3 {
      max-width: 220px;
    }

   
  }