*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'azo';
  }

  @font-face {
    font-family: 'acumin';
    src: url(Fonts/Acumin\ Pro\ Condensed\ Black\ \(1\).ttf);
  }

  @font-face {
    font-family: 'acumin-italic';
    src: url(Fonts/Acumin\ Pro\ Condensed\ Black\ Italic.ttf);
  }

  @font-face {
    font-family: 'azo';
    src: url(Fonts/AzoSansTest-Regular-BF663af5f641d11.otf);
  }

  @font-face {
    font-family: 'azo-light';
    src: url(Fonts/AzoSansTest-Light-BF663af5f76f7ff.otf);
  }

  @font-face {
    font-family: 'azo-medium';
    src: url(Fonts/AzoSansTest-Medium-BF663af5f75f759.otf);
  }

  @font-face {
    font-family: 'azo-bold';
    src: url(Fonts/AzoSansTest-Bold-BF663af5f7827f4.otf);
  }



  body {
    position: relative;
    background-color: var(--primary-grey);
    cursor: url('Cursor-Icon-3.svg') 5 0, auto;
    width: 100vw;
  }

  main {
    padding-right: clamp(1.8rem, 8vw, 4rem);
    padding-left: clamp(1.8rem, 8vw, 4rem);

  }

:root {
    --primary-grey: #121314;
    --secondary-grey: #19191B;
    --alt-grey: #262626;
    --hover-grey-2: rgb(77, 77, 77);
    --primary-blue: #5FBCFF;
    --alt-blue: #5FBCFF;
    --white: #ffffff;
    --primary-light-grey: #eeeeee;
    --secondary-light-grey: #B5B5B5;
    --grey-gradient-1: linear-gradient (90deg, #262626, #121314);
    --blue-gradient-1: linear-gradient (90deg, #5FBCFF, #147BC6);
    --primary-blue-faded: #0268BB40;        
}

img {
  border-radius: clamp(2px, 5vw, 10px);
}


h1, h2, h3, h4 {
    font-family: 'acumin';
    color: var(--primary-light-grey);
    text-transform: uppercase;
        text-align: center;

}

h5, h6, .h7, .h8, .h10 {
  font-family: 'azo-bold';
  color: var(--primary-light-grey);
}

h1 {
  font-size: clamp(48px, 8vw, 82px);
    background: linear-gradient(180deg, #5FBCFF 12.5%, #006AB6 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    line-height: clamp(2.8125rem, 8vw, 4.4rem);/* 73.171% */
  }

.h1-gradient {
  font-family: 'acumin-italic';
  background: linear-gradient(to top, var(--secondary-light-grey), var(--primary-light-grey));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  font-style: italic;
  padding: .2rem;
}



h2 {
    font-size: clamp(2rem, 5vw, 2.8rem);
    color: var(--Primary-Light-Grey, #EEE);
    text-align: center;
}

h3 {
    line-height: clamp(1.5rem, 5vw, 2.4rem);
    font-size: clamp(1.25rem, 5vw, 2rem);
    text-align: left;
}

h4 {
    line-height: 1.3rem;
    font-size: clamp(20px, 5vw, 24px);
}

h5 {
    line-height: clamp(23px, 5vw, 27px);
    font-size: clamp(14px, 5vw, 20px);
    letter-spacing: .2rem;
    color: var(--primary-light-grey);
}

h6 {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

h6 {
    color: var(--secondary-light-grey);
    font-family: 'azo';
    letter-spacing: .2rem;

}




/* paragraph styles */
p {
  font-family: 'azo-light';
  color: var(--secondary-light-grey);
  /* font-size: clamp(0.875rem, 5vw, 1.1rem); */
  line-height: 2.125rem; /* 188.889% */
  text-align: center;
}

.hero-content .p2 {
  font-size: clamp(16px, 2vw, 20px);
  line-height: clamp(2rem, 5vw, 2.6rem);

}


.p2 {
  font-size: clamp(14px, 2vw, 18px);
  text-align: center;
  line-height: clamp(1.8rem, 8vw, 2.1rem);
}

.p3, .nav-links a {
  font-family: 'azo';
  /* font-size: clamp(14px, 2vw, 18px); */
  line-height: 1.2rem;
  letter-spacing: 0.1125rem;
  text-align: center;
}

.p3 {
  font-size: clamp(14px, 2vw, 18px);

}



/* Navigation Styling */

nav {
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-grey);

}



.nav-logo img {
  height: clamp(2rem, 5vw, 2.8rem);
}

a {
  text-decoration: none;
  color: var(--secondary-light-grey);
  transition: .5s ease;
}

.nav-links ul {
  display: flex;
  gap: 2rem;
}




.nav-links a:hover {
  color: var(--primary-light-grey);
}



.nav-links a, .mobile-nav-links a {
  text-decoration: none;
  color: var(--secondary-light-grey);
  letter-spacing: 2px;
  transition: 400ms ease;

}

.nav-socials img {
  height: 23px;
}


.nav-socials {
  display: flex;
  gap: 15px;
}


.mobile-menu {
  display: none; /* Start hidden */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 24rem;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--primary-grey);
  padding: 110px 0;
  gap: 4rem;
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Hidden by default */
  
}

.mobile-menu.show {
  display: flex; /* Ensure it's visible */
  transform: translateX(0); /* Slide in */
}


.mobile-nav-links ul {
  margin: 0;
}

.mobile-nav-links {
  padding: 0;
}

.mobile-nav-links li {
  font-size: 1.5rem;
}

.mobile-social-icons img {
  height: 25px;
}

.mobile-social-icons {
  display: flex;
  gap: 15px;

}

.mobile-menu li {
  list-style: none;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu a {
  text-decoration: none;
}

.show {
  right: 0;
}

/* Hamburger Menu */

.menu {
  position: relative;
  width: 35px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Style for the three hamburger bars */
.bar {
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--primary-light-grey);
  transition: all 0.5s ease;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 50%;
  transform: translateY(-50%);
}

.bar3 {
  bottom: 0;
}

/* When the menu is active, animate the bars */
    /* .menu.active .bar1 {
      transform: rotate(45deg);
      top: 45%;
    }

    .menu.active .bar2 {
      opacity: 0;
    }

    .menu.active .bar3 {
      transform: rotate(-45deg);
      bottom: 45%;
    } */

.nav-links a:hover, .mobile-nav-links a:hover {
  color: var(--primary-light-grey);
}

.nav-links li:hover {
  scale: 1.02;

}

/* End of Nav */



/* Button Styling */


button {
  font-family: 'azo';
  letter-spacing: .06rem;
}


  .btn-primary {
    color: var(--primary-light-grey);
    padding: 1.2rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4.0625rem;
    border: 1px solid var(--Secondary-light-Grey, #B5B5B5);
    background: var(--Secondary-Grey, #19191B);
    font-size: clamp(14px, 5vw, 18px);
    font-family: 'azo-light';
    transition: .5s ease;
  }

  .btn-primary:hover {
    background: var(--alt-grey);
    /* transform: scale(1.02); */
  }

  .btn-primary a{
    font-size: clamp(14px, 5vw, 18px);
    color: var(--primary-light-grey);

  }

  /* Hero Styling */

  .hero, .hero-buttons, .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--primary-grey), var(--alt-grey));
    padding-right: clamp(1.8rem, 8vw, 4rem);
    padding-left: clamp(1.8rem, 8vw, 4rem);
  }



  .hero-content {
    gap: .3rem;
    flex-direction: column;
    /* padding-top: clamp(6rem, 5vw, 16rem);
    padding-bottom: clamp(6rem, 5vw, 16rem); */
    padding: 15% 0;


  }


  .hero-buttons {
    gap: 1.2rem;
    padding-top: clamp(2rem, 5vw, 3rem);
    flex-wrap: wrap;
  }


  .hero-content p {
    max-width: 660px;
  }

  .hero .p3 {
    color: var(--primary-light-grey);
  }

  .hero h1 {
    margin-bottom: clamp(16px, 2vw, 36px);
    margin-top: clamp(4px, 2vw, 14px);
  }



  /* End of hero */


  /* Title Section */

  .title-section {
    padding-top: clamp(2rem, 5vw, 3.1rem);
    padding-bottom: clamp(2rem, 5vw, 3.1rem);


  }

  .title-section p {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'azo';
    color: var(--primary-blue);
  }

  .title-section h2 {
    margin-top: -10px;
  }

  /* End of Title Section */




  /* Featured Project Card */

  .featured-projects {
    display: flex;
    justify-content: center;
    padding-top: clamp(0px, 5vw, 50px);
    padding-bottom: clamp(0px, 5vw, 50px);
    flex-direction: column;
    align-items: center;
    gap: clamp(25px, 5vw, 60px);
    
  }

  .project-card-1, .pc1-main-content, .pc1-content, .pc1-button a {
    display: flex;
    text-align: left;
  }

  .project-card-1 {
    max-width: 1100px;
    width: 100%;
<<<<<<< Updated upstream
    background: linear-gradient(45deg, var(--secondary-grey), var(--alt-grey));
    padding: clamp(1.5625rem, 5vw, 3.125rem);
    padding-bottom: 0;
    border-radius: 0.75rem;
    /* border: 1px solid var(--Alt-Grey, #262626); */
=======
    height: auto;
    background: linear-gradient(45deg, var(--secondary-grey), var(--alt-grey));
    padding: clamp(1.5625rem, 5vw, 3.125rem);
    padding-bottom: 0;
    border-radius: clamp(1.2px, 5vw, 12px);
    border: 1px solid var(--Alt-Grey, #262626);
>>>>>>> Stashed changes
    overflow: hidden;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 3.8rem);
    transition: .5s ease;
    position: relative;
    cursor: pointer;
  }

  /* .project-card-1::before {
    content: ''; 
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to top, var(--secondary-grey), #103461);
    transition:  0.5s ease;
    z-index: 1;
  } */

  .project-card-1::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:  0.5s ease; /* Smooth opacity transition */
    z-index: 1;
  }


  #LLP::before {
    background: linear-gradient(to top, var(--secondary-grey), #103461);
  }

  #pc::before {
    background: linear-gradient(to top, var(--secondary-grey), #830919);
  }

  #arrow::before {
    background: linear-gradient(to top, var(--secondary-grey), #4444D9);
  }

  .project-card-1:hover::before {
    opacity: .8;
  }

  .project-card-1:hover {
    /* border: 1px solid rgb(145, 145, 145); */
  }


  #LLP:hover::before {
    opacity: .8;
  }


.pc1-main-content, .pc1-img {
  z-index: 2;
}


  .pc1-main-content {
    justify-content: space-between;
    width: 100%;
  }

  .pc1-content {
    flex-direction: column;
    gap: clamp(2px, 2vw, 14px);
  }

  .pc1-content .p3 {
    text-align: left;
  }

  .pc1-button {
  }

  .pc1-button a {
    gap: .6rem;
    align-items: center;
  }

  .project-card-1:hover img {
    rotate: 0deg;
  }

  .pc1-button img {
    rotate: -45deg;
    height: 1rem;
    transition: .5s ease;

  }

  .pc1-img {
<<<<<<< Updated upstream
    width: 90%;
=======
    border-top-left-radius: 1.5%; /* Adjust the radius for the top-left corner */
    border-top-right-radius: 1.5%; /* Adjust the radius for the top-right corner */
    border-bottom-left-radius: 0; /* Ensure bottom corners remain unrounded */
    border-bottom-right-radius: 0;     width: 90%;
>>>>>>> Stashed changes
    margin-top: 2%;
    height: auto;
    margin: 0 auto;
    transition: .5s ease;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .2) ;
  }

  .project-card-1:hover .pc1-img {
    transform: scale(1.02);
  }


  /* service cards */ 

  .service-card-container, .service-card {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .service-card-container {
    gap: clamp(25px, 5vw, 40px);
  }

  .service-card {
    background-color: var(--secondary-grey);
    width: 100%;
    height: 100%;
    stroke: 1px var(--alt-grey);
    padding-top: clamp(40px, 5vw, 60px);
    padding-left: clamp(25px, 5vw, 30px);
    padding-right: clamp(25px, 5vw, 30px);
    padding-bottom: clamp(25px, 5vw, 30px);
    max-width: 270px;
    flex-direction: column;
    border-radius: 10px;
    transition: ease .5s;
  }

  .service-card h4 {
    margin-top: clamp(15px, 5vw, 30px);
    margin-bottom: 16px;
  }

  .service-card:hover {
    transform: scale(1.02);

  }


  
  


  @media (max-width: 1300px) {
    .nav-links, nav button {
      display: none;
    }
    .menu {
      display: flex;
    }

  }

  @media (max-width: 800px) {
    .pc1-button .p3 {
      display: none;
    }


  }


  @media (max-width: 470px) {
    .hero-content h1 {
      max-width: 300px;
    }

    .hero .p2 {
      text-align: left;
      max-width: 308px;
    }

    .hero-buttons {
    }

  }

  @media (max-width: 370px) {
    .hero .p3 {
      max-width: 175px;
    }

   
  }